@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ct-color-bg-primary: #3C9AF0;
    --ct-color-bg-secondary: #FFF;
    --ct-color-bg-tertiary: #C8C8C8;

    --ct-color-font-primary: #FFF;
    --ct-color-font-secondary: #5E5E5E;
    --ct-color-font-tertiary: #3C9AF0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--ct-color-bg-secondary);
}

.ct-page-container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct-container {
    width: 100%;
    max-width: 746px;
    margin: 0 auto;
}